
<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="event-list">

  <template>
    <div>
      <ul hidden="{{ isEmpty }}">
        <template is="dom-repeat" items="{{ events }}" sort="byDate">
          <event-list-item item="{{ item }}" on-delete="eventDeleted"></event-list-item>
        </template>
      </ul>

      <p class="empty" hidden="{{ !isEmpty }}">
        <i class="secondary">No events found.</i>
      </p>

      <form on-submit="addEvent">
        <input is="event-title-input" name="title" required placeholder="Title" />
        <button type="submit">Add event</button>
      </form>
    </div>
  </template>

  <script>
    Polymer({
      is: 'event-list',
      properties: {
        events: {
          type: Array,
          value: [],
          observer: '_eventsObserver'
        }
      },

      ready: function () {
        this.events = app.store.get('events');
      },

      _eventsObserver: function () {
        this.events = this.events || [];
        this.isEmpty = this.events.length == 0;
      },

      byDate: function (item1, item2) {
        return item1.created < item2.created
      },

      addEvent: function (e) {
        e.preventDefault();
        var input = document.querySelector('input')
        var event = {
          title: input.value,
          slug: app.slugify(input.value),
          id: app.generateId(),
          points_win: 3,
          points_draw: 1,
          points_loss: 0,
          created: new Date().getTime(),
          updated: new Date().getTime(),
          status: 'draft',
          teams: [],
          games: []
        };

        // store persistently
        app.store.sadd('events', event);

        // update local dom
        this.push('events', event);
        // reset input
        input.value = '';
        this._eventsObserver();

        // redirect
        page.redirect('events/' + event.slug);

        // scroll to top
        window.scrollTo(window.scrollX, 0);
      },

      eventDeleted: function(e) {
        // update events
        this.set('events', app.store.get('events'));
      }

    });
  </script>

</dom-module>
