
<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="event-team-list">

  <template>
    <div class="">
      <h3>Teams</h3>
      <template is="dom-repeat" items="{{ teams }}" sort="byIndex">
        <div class$="{{ getCssClasses(item, highlight) }}" on-click="highlightTeam">
          <span class="index secondary">{{ item.index }}</span>
          <span class="name">{{ item.name }}</span>
        </div>
      </template>
    </div>
  </template>

  <script>
    Polymer({
      is: 'event-team-list',
      properties: {
        event: {
          type: Object,
          value: {},
          observer: '_eventObserver'
        },
        highlight: {
          type: Object,
          value: {}
        }
      },

      _eventObserver: function () {
        var teams = (this.event.teams) ? this.event.teams.slice(0) : []
        this.set('teams', teams);
      },

      byIndex: function (a, b) {
        return a.index - b.index;
      },

      highlightTeam: function (e) {
        var item = e.model.item;
        if (this.highlight.id == item.id)
          item = null
        this.fire('highlight', item);
      },

      getCssClasses: function (item, highlight) {
        var css_classes = ['team-item'];
        if (item.id == highlight.id)
          css_classes.push('highlight');
        return css_classes.join(' ');
      }

    })
  </script>
</dom-module>