

<dom-module id="event-points">

  <template>
    <div class="">
      <h3>Points</h3>
      <span class="points win">
        <span class="label" title="Win">W</span>
        <span class="input" on-tap="toggleEdit" data-type="win"
          hidden="{{ editPointsWin }}">{{ event.points_win }}</span>
        <input id="points_win" type="number" min="1" required
          value="{{ event.points_win }}" hidden="{{ !editPointsWin }}"
          on-blur="savePoints">
      </span>
      <span class="points draw">
        <span class="label" title="Draw/Remis">D</span>
        <span class="input" on-tap="toggleEdit" data-type="draw"
          hidden="{{ editPointsDraw }}">{{ event.points_draw }}</span>
        <input id="points_draw" type="number" min="0" required
          value="{{ event.points_draw }}" hidden="{{ !editPointsDraw }}"
          on-blur="savePoints">
      </span>
      <span class="points loss">
        <span class="label" title="Loss">L</span>
        <span class="input" on-tap="toggleEdit" data-type="loss"
          hidden="{{ editPointsLoss }}">{{ event.points_loss }}</span>
        <input id="points_loss" type="number" min="0" required
          value="{{ event.points_loss }}" hidden="{{ !editPointsLoss }}"
          on-blur="savePoints">
      </span>
    </div>
  </template>

  <script>
    Polymer({
      is: 'event-points',
      properties: {
        event: {
          type: Object,
          value: {}
        }
      },

      ready: function () {
        this.editPointsWin = false;
        this.editPointsDraw = false;
        this.editPointsLoss = false;
      },

      toggleEdit: function (e) {

        var type = e.target.dataset.type;
        if (type.indexOf('win') > -1 && !this.editPointsWin) {
          this.editPointsWin = true;
        } else if (type.indexOf('draw') > -1 && !this.editPointsDraw)
          this.editPointsDraw = true;
        else if (type.indexOf('loss') > -1 && !this.editPointsLoss)
          this.editPointsLoss = true;
        this.querySelector('input[id="points_' + type + '"]').focus();
      },

      savePoints: function (e) {
        var type = e.target.id;
        var value = parseInt(e.target.value, 10);

        if (isNaN(value))
          // TODO: notify user?
          return;

        var events = app.store.get('events');
        var idx = -1;
        events.forEach(function (obj, i) {
          if (obj.id == this.event.id)
            idx = i;
        }, this);
        events.splice(idx, 1);

        if (type.indexOf('win') > -1) {
          this.set('event.points_win', value);
          this.editPointsWin = false;
        } else if (type.indexOf('draw') > -1) {
          this.set('event.points_draw', value);
          this.editPointsDraw = false;
        } else if (type.indexOf('loss') > -1) {
          this.set('event.points_loss', value);
          this.editPointsLoss = false;
        }

        // store persistently
        events.push(this.event);
        app.store.set('events', events);

        this.fire('points-changed');

      }

    });
  </script>
</dom-module>