<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="event-table">

  <template>
    <table>
      <thead>
        <tr>
          <th class="center position" title="Position">Pos</th>
          <th class="name">Team</th>
          <th class="center games-played" title="Games Played">GP</th>
          <th class="center wins" title="Wins">W</th>
          <th class="center draws" title="Draws">D</th>
          <th class="center losses" title="Losses">L</th>
          <th class="center goals-for" title="Goals For">GF</th>
          <th class="center goals-against" title="Goals Against">GA</th>
          <th class="center goals-diff" title="Goal Difference">GD</th>
          <th class="center points highlight" title="Points">P</th>
        </tr>
      </thead>
      <tbody>
        <template is="dom-repeat" items="{{ teams }}">
          <tr on-click="highlightTeam" class$="{{ getCssClasses(item, highlight) }}">
            <td class="center position">{{ item.position }}</td>
            <td class="name">{{ item.name }}</td>
            <td class="center games-played">{{ item.games_played }}</td>
            <td class="center wins">{{ item.win_count }}</td>
            <td class="center draws">{{ item.draw_count }}</td>
            <td class="center losses">{{ item.loss_count }}</td>
            <td class="center goals-for">{{ item.goals_for }}</td>
            <td class="center goals-against">{{ item.goals_against }}</td>
            <td class="center goals-diff">{{ item.goals_diff }}</td>
            <td class="center points highlight">{{ item.points }}</td>
          </tr>
        </template>
      </tbody>
    </table>
  </template>

  <script>
    Polymer({
      is: 'event-table',
      properties: {
        event: {
          type: Object,
          value: {},
          observer: '_eventObserver'
        },
        highlight: {
          type: Object,
          value: {}
        }
      },

      _eventObserver: function () {
        var teams = [];
        if (this.event.teams && this.event.teams.length) {
          this.event.teams.forEach(function (obj, idx) {
            var win_count = this.getWinsForTeam(obj).length;
            var draw_count = this.getDrawsForTeam(obj).length;
            var loss_count = this.getLossesForTeam(obj).length;
            var team = {
              id: obj.id,
              name: obj.name,
              games_played: win_count + draw_count + loss_count,
              win_count: win_count,
              draw_count: draw_count,
              loss_count: loss_count,
              goals_for: this.getGoalsForForTeam(obj),
              goals_against: this.getGoalsAgainstForTeam(obj),
              goals_diff: this.getGoalDiffForTeam(obj),
              points: this.getPointsForTeam(obj)
            };
            teams.push(team);
          }, this);

          // sorting
          teams.sort(this.byPoints);

          // set position
          // NOTE: identical stats should result in identical position!
          var next_pos = 1;
          teams.forEach(function (team, i) {
            if (i == 0) {
              team.position = next_pos;
            } else {
              var prev = teams[i - 1];
              if (prev.points == team.points &&
                  prev.goals_diff == team.goals_diff &&
                  prev.goals_for == team.goals_for)
                // identical
                team.position = prev.position;
              else
                team.position = next_pos;
            }
            next_pos++;
          });
        }

        this.set('teams', teams);
      },

      getWinsForTeam: function (team) {
        var wins = [];
        this.event.games.forEach(function (game) {
          if (typeof game.home.score != "undefined" &&
              typeof game.away.score != "undefined" &&
              (game.home.id == team.id && game.home.score > game.away.score ||
               game.away.id == team.id && game.home.score < game.away.score))
            wins.push(game);
        });
        return wins;
      },

      getDrawsForTeam: function (team) {
        var draws = [];
        this.event.games.forEach(function (game) {
          if (typeof game.home.score != "undefined" &&
              typeof game.away.score != "undefined" &&
              (game.home.id == team.id && game.home.score == game.away.score ||
               game.away.id == team.id && game.home.score == game.away.score))
            draws.push(game);
        });
        return draws;
      },

      getLossesForTeam: function (team) {
        var losses = [];
        this.event.games.forEach(function (game) {
          if (typeof game.home.score != "undefined" &&
              typeof game.away.score != "undefined" &&
              (game.home.id == team.id && game.home.score < game.away.score ||
               game.away.id == team.id && game.home.score > game.away.score))
            losses.push(game);
        });
        return losses;
      },

      getGoalsForForTeam: function (team) {
        var goals = 0;
        this.event.games.forEach(function (game) {
          if (typeof game.home.score != "undefined" &&
              typeof game.away.score != "undefined") {
            if (game.home.id == team.id)
              goals += game.home.score;
            else if (game.away.id == team.id)
              goals += game.away.score;
          }
        });
        return goals;
      },

      getGoalsAgainstForTeam: function (team) {
        var goals = 0;
        this.event.games.forEach(function (game) {
          if (typeof game.home.score != "undefined" &&
              typeof game.away.score != "undefined") {
            if (game.home.id == team.id)
              goals += game.away.score;
            else if (game.away.id == team.id)
              goals += game.home.score;
          }
        });
        return goals;
      },

      getGoalDiffForTeam: function (team) {
        var diff = (
          this.getGoalsForForTeam(team) - this.getGoalsAgainstForTeam(team));
        return (diff > 0) ? '+' + diff : diff;
      },

      getPointsForTeam: function (team) {
        var wins = this.getWinsForTeam(team);
        var draws = this.getDrawsForTeam(team);
        var losses = this.getLossesForTeam(team);
        return (
          wins.length * this.event.points_win +
          draws.length * this.event.points_draw +
          losses.length * this.event.points_loss
        )
      },

      byPoints: function (a, b) {
        if (a.points != b.points)
          return b.points - a.points;

        if (a.goals_diff != b.goals_diff)
          return b.goals_diff - a.goals_diff;

        if (a.goals_for != b.goals_for)
          return b.goals_for - a.goals_for;

        // oh, well ...
        return a.name - b.name;
      },

      highlightTeam: function(e) {
        var item = e.model.item;
        if (item.id == this.highlight.id)
          item = null;
        this.fire('highlight', item);
      },

      getCssClasses: function(item, highlight) {
        var css_classes = [];
        if (item.id == highlight.id)
          css_classes.push('highlight');
        return css_classes.join(' ');
      }

    });
  </script>

</dom-module>