
<dom-module id="event-title">
  <template>
    <h2 class="">
      <form on-submit="saveTitle" hidden="{{ !editTitle }}">
        <input is="event-title-input" type="text" name="title" required
          placeholder="Title" value="{{ event.title }}" on-blur="saveTitle">
      </form>
      <span hidden="{{ editTitle }}" on-tap="toggleEditTitle">{{ event.title }}</span>
    </h2>
  </template>

  <script>
    Polymer({
      is: 'event-title',
      properties: {
        event: {
          type: Object,
          value: {}
        }
      },

      ready: function () {
        this.editTitle = false;
      },

      toggleEditTitle: function (e) {
        this.editTitle = !this.editTitle;
        if (this.editTitle)
          this.querySelector('input[name="title"]').focus();
      },

      saveTitle: function (e) {
        e.preventDefault();
        var input = this.querySelector('input[name="title"]');
        if (input.value != this.event.title) {

          var events = app.store.get('events');
          var idx = -1;
          events.forEach(function (obj, i) {
            if (obj.id == this.event.id)
              idx = i;
          }, this);
          events.splice(idx, 1);

          // save
          this.event.title = input.value;
          this.event.slug = app.slugify(input.value);
          this.event.updated = new Date().getTime();

          // store persistently
          events.push(this.event);
          app.store.set('events', events);

          this.fire('title-changed', this.event);
        }

        this.editTitle = false;
      },

    });
  </script>

</dom-module>
