
<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="event-title-input">

  <script>
    Polymer({
      is: 'event-title-input',
      extends: 'input',

      attached: function() {
        this.addEventListener('input', function (e) {
          this.validate();
        });
        this.addEventListener('focus', function (e) {
          this.initial = this.value;
        })
      },

      validate: function () {
        var events = app.store.get('events') || [];
        var slug = app.slugify(this.value);
        var exists = events.filter(function (obj) {
          return (obj.slug == slug &&
                  obj.title.toLowerCase() != this.initial.toLowerCase())
        }, this);
        if (exists.length > 0)
          this.setCustomValidity("An event with this name already exists!");
        else
          this.setCustomValidity("");
      }

    });
  </script>

</dom-module>
