
<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="event-list-item">

  <template>
    <li class="list-item">
      <span class="actions">
        <a href="#" on-click="deleteEvent">delete</a>
      </span>
      <a href="{{getItemUrl()}}" class="link" on-click="navigateEvent">{{item.title}}</a>
      <span class="secondary stats">{{ stats }}</span>
    </li>
  </template>

  <script>
    Polymer({
      is: 'event-list-item',
      properties: {
        item: {
          type: Object,
          value: {},
          observer: '_itemObserver'
        }
      },

      _itemObserver: function () {
        var time = new Date(this.item.created).toLocaleDateString();
        var teams = this.item.teams.length + ' Teams';
        var games = this.item.games.length + ' Games';
        this.set('stats', [time, teams, games].join(' · '));
      },

      getItemUrl: function () {
        if (this.item)
          return '/#!events/' + this.item.slug
      },

      navigateEvent: function (e) {
        e.preventDefault();
        page.redirect('events/' + this.item.slug);
      },

      deleteEvent: function (e) {
        e.preventDefault();
        var msg = "Are you sure you want to delete '" + this.item.title + "'?";
        if (confirm(msg)){
          var events = app.store.get('events');
          var idx = -1;
          events.forEach(function (obj, i) {
            if (obj.id == this.item.id)
              idx = i;
          }, this);
          events.splice(idx, 1);
          app.store.set('events', events);

          this.fire('delete', this.item);
        }

      },

      exportEvent: function (e) {
        e.preventDefault();
        alert('TODO: exoprt event (json)');
      },

      printEvent: function (e) {
        e.preventDefault();
        alert('TODO: print event (styling)');
      }

    });
  </script>

</dom-module>
