<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="event-schedule">

  <template>
    <event-title event="{{ event }}" on-title-changed="titleChanged"></event-title>

    <event-points event="{{ event }}" on-points-changed="pointsChanged"></event-points>

    <event-team-list event="{{ event }}" highlight="{{ highlight }}" on-highlight="highlightTeam"></event-team-list>

    <div class="game-list">
      <h3>Games</h3>
      <template is="dom-repeat" items="{{ event.games }}">
        <game-schedule-item item="{{ item }}" highlight="{{ highlight }}" on-highlight="highlightTeam" on-done="gameDone"></game-schedule-item>
      </template>
    </div>

    <div class="standings">
      <h3>Standings</h3>
      <event-table event="{{ event }}" highlight="{{ highlight }}" on-highlight="highlightTeam"></event-table>
    </div>

  </template>

  <script>
    Polymer({
      is: 'event-schedule',
      properties: {
        event: {
          type: Object,
          value: {}
        },
        highlight: {
          type: Object,
          value: {}
        }
      },

      gameDone: function (e) {
        // update table
        this.querySelector('event-table')._eventObserver();
      },

      pointsChanged: function (e) {
        // update table
        this.querySelector('event-table')._eventObserver();
        // update header
        document.querySelector('page-header')._eventObserver();
      },

      titleChanged: function (e) {
        // redirect
        page.redirect('events/' + e.detail.slug + '/schedule');

        // update ui
        this.set('event.title', e.detail.title);

        // update event list
        document.querySelector('event-list').events = app.store.get('events');
      },

      highlightTeam: function (e) {
        this.set('highlight', e.detail);
      }
    });
  </script>

</dom-module>