
<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="event-detail">

  <template>
    <header>
      <event-title event="{{ event }}" on-title-changed="titleChanged"></event-title>
    </header>

    <event-points event="{{ event }}" on-points-changed="pointsChanged"></event-points>

    <div class="team-list">
      <h3>Teams</h3>
      <div hidden="{{ isEmpty }}">
        <template id="team_list" is="dom-repeat" items="{{ teams }}">
          <team-list-item item="{{ item }}" index="{{ index }}" on-delete="teamDeleted"></team-list-item>
        </template>
      </div>

      <p class="empty" hidden="{{ !isEmpty }}">
        <i class="secondary">No teams found.</i>
      </p>

      <form on-submit="addTeam" class="team-add">
        <input name="name" required placeholder="Name" is="team-name-input" />
        <button type="submit">Add team</button>
      </form>
    </div>

    <div hidden="{{ hideGenerator }}" class="game-list">
      <h3>Games</h3>

      <button on-click="generateGames">Generate games</button>

      <ol>
        <template id="game_list" is="dom-repeat" items="{{ event.games }}">
          <game-list-item item="{{ item }}"></game-list-item>
        </template>
      </ol>

      <button on-click="startEvent" hidden="{{ hideStartButton }}">Start</button>
    </div>

  </template>

  <script>
    Polymer({
      is: 'event-detail',
      properties: {
        event: {
          type: Object,
          value: {},
          observer: '_eventObserver'
        }
      },

      ready: function () {
        this.editTitle = false;
      },

      _eventObserver: function () {
        if (this.event && this.event.teams) {
          this.set('teams', this.event.teams);
          this.isEmpty = this.event.teams.length == 0;
          this.hideGenerator = this.event.teams.length < 3;
          this.hideStartButton = this.event.games == 0;
        }
      },

      addTeam: function (e) {
        e.preventDefault();
        var input = e.target.querySelector('input');

        var team = {
          id: app.generateId(),
          name: input.value.trim()
        };

        // store
        var events = app.store.get('events');
        events.splice(events.indexOf(this.event), 1);

        this.push('teams', team);
        // this.event.teams.push(team);
        events.push(this.event);
        app.store.set('events', events);

        // update ui
        input.value = '';
        if (this.event.games && this.event.games.length)
          this.generateGames();
        this._eventObserver();
      },

      teamDeleted: function (e) {
        this.set('teams', this.event.teams.slice(0));
        if (this.event.teams.length < 3 || this.event.games.length)
          this.generateGames();
        this._eventObserver();
      },

      generateGames: function (e) {
        var generator = new app.Generator();
        var games = [];
        if (this.event.teams.length > 2)
          games = generator.generate(this.event.teams);
        var event_games = [];
        games.forEach(function (obj, i) {
          var game = {
            number: i + 1,
            home: obj[0],
            away: obj[1]
          }
          event_games.push(game);
        })
        this.set('event.games', event_games);

        // store event
        var events = app.store.get('events');
        var event_idx = -1;
        events.forEach(function (obj, i) {
          if (obj.id == app.event.id)
            event_idx = i;
        });
        events.splice(event_idx, 1);
        events.push(this.event);
        app.store.set('events', events);
        this._eventObserver();
      },

      startEvent: function(e) {

        this.event.teams.forEach(function (team, idx) {
          team.index = idx + 1;
        });

        this.event.status = "running";

        var events = app.store.get('events');
        var event_idx = -1;
        events.forEach(function (obj, i) {
          if (obj.id == app.event.id)
            event_idx = i;
        });
        events.splice(event_idx, 1);
        events.push(this.event);
        app.store.set('events', events);

        var pages = document.querySelector('neon-animated-pages');
        pages.entryAnimation = 'slide-from-right-animation';
        pages.exitAnimation = 'slide-left-and-fade-out-animation';

        // redirect
        page.redirect('events/' + this.event.slug + '/schedule');

        // scroll to top
        window.scrollTo(window.scrollX, 0);
      },

      titleChanged: function (e) {
        // redirect
        page.redirect('events/' + this.event.slug);

        // update ui
        this.set('event.title', this.event.title);

        // update event list
        document.querySelector('event-list').events = app.store.get('events');
      },

      pointsChanged: function (e) {
        // update header
        document.querySelector('page-header')._eventObserver();
      }

    });
  </script>

</dom-module>
