<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="game-schedule-item">

  <template>
    <div class="game-item">

      <div class="number secondary">{{ game_number }}</div>

      <div class="game-wrapper">

        <div class$="{{ getCssClasses(highlight, 'home') }}">
          <span class="index secondary">{{ getTeamIndex(item.home) }}</span>
          <span class="team" on-tap="highlightTeam">{{ item.home.name }}</span>

          <input type="number" min="0" value="{{ item.home.score }}" placeholder="0"
            on-blur="setHomeScore" on-focus="resetState"/>
        </div>

        <span class="versus">:</span>

        <div class$="{{ getCssClasses(highlight, 'away') }}">

          <input type="number" min="0" value="{{ item.away.score }}" placeholder="0"
            on-blur="setAwayScore" on-focus="resetState" />

          <span class="team" on-tap="highlightTeam">{{ item.away.name }}</span>
          <span class="index secondary">{{ getTeamIndex(item.away) }}</span>
        </div>

      </div>

    </div>
  </template>

  <script>
    Polymer({
      is: 'game-schedule-item',
      properties: {
        item: {
          type: Object,
          observer: '_itemObserver'
        },
        highlight: {
          type: Object,
          value: {}
        }
      },

      _itemObserver: function () {

        this.game_number = 'Game ' + this.item.number;

        if (this.item.home.score >= 0 && this.item.away.score >= 0 &&
            !this.item.isDone)
          this.set('item.isDone', true);
        else
          this.set('item.isDone', false);

        // store item
        var game_idx = this.item.number - 1;  // TODO: check if this is reliable
        app.event.games[game_idx] = this.item;
        app.event.updated = new Date().getTime();

        // store event
        var events = app.store.get('events');
        var event_idx = -1;
        events.forEach(function (obj, i) {
          if (obj.id == app.event.id)
            event_idx = i;
        });
        events.splice(event_idx, 1);
        events.push(app.event);
        app.store.set('events', events);

        this.fire('done', this.item);
      },

      setHomeScore: function (e) {
        var value = parseInt(e.target.value, 10);
        this.item.home.score = !isNaN(value) ? value : undefined;
        this._itemObserver();
      },

      setAwayScore: function (e) {
        var value = parseInt(e.target.value, 10);
        this.item.away.score = !isNaN(value) ? value : undefined;
        this._itemObserver();
      },

      resetState: function (e) {
        this.set('item.isDone', false);
      },

      getTeamIndex: function (team) {
        var idx;
        app.event.teams.forEach(function (obj, i) {
          if (obj.id == team.id)
            idx = i;
        });
        if (idx > -1)
          return '(' + app.event.teams[idx].index + ')';
      },

      getCssClasses: function (highlight, type) {
        var css_classes = [type];
        if (this.item && highlight.id == this.item[type].id)
          css_classes.push('highlight');
        return css_classes.join(' ');
      },

      highlightTeam: function (e) {
        var parent = e.target.parentElement;
        if (parent.classList.contains('home'))
          team = this.item.home;
        else if (parent.classList.contains('away'))
          team = this.item.away;

        // toggle
        if (this.highlight && team.id == this.highlight.id)
          team = null;

        this.fire('highlight', team);
      }

    });
  </script>

</dom-module>