
<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="game-list-item">

  <template>
    <li>
      <span class="home team">{{ item.home.name }}</span>
      <span class="versus secondary">vs</span>
      <span class="away team">{{ item.away.name }}</span>
    </li>
  </template>

  <script>
    Polymer({
      is: 'game-list-item',
      properties: {
        item: {
          type: Object,
          value: {}
        }
      }
    });
  </script>

</dom-module>