
<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="page-header">

  <template>
    <header>
      <div class="container">
        <div class="headlines">
          <h2><a href="/">Tournament</a></h2>
          <h3 hidden="{{ hidden }}">
            <span>{{ event.title }}</span>
            <span class="info">{{ info }}</span>
          </h3>
        </div>
      </div>
    </header>
  </template>

  <script>
    Polymer({
      is: 'page-header',
      properties: {
        event: {
          type: Object,
          value: {},
          observer: '_eventObserver'
        }
      },

      _eventObserver: function (e) {
        this.set('hidden', this.event.title === undefined);
        if (!this.hidden) {
          var info = this.event.teams.length + ' Teams';
          info += ' · ' + this.event.games.length + ' Games';
          info += ' · W' + this.event.points_win;
          info += ' D' + this.event.points_draw;
          info += ' L' + this.event.points_loss;
          this.set('info', info);
        }
      }
    });
  </script>

</dom-module>