
<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="team-name-input">

  <script>
    Polymer({
      is: 'team-name-input',
      extends: 'input',

      attached: function() {
        this.addEventListener('input', function (e) {
          this.validate();
        });
        this.addEventListener('focus', function (e) {
          this.initial = this.value;
        })
      },

      validate: function () {
        var exists = app.event.teams.filter(function (obj) {
          return (obj.name.toLowerCase() == this.value.toLowerCase() &&
                  obj.name.toLowerCase() != this.initial.toLowerCase())
        }, this);
        if (exists.length > 0)
          this.setCustomValidity("A team with this name already exists!");
        else
          this.setCustomValidity("");
      }

    });
  </script>

</dom-module>
