
<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="team-list-item">

  <template>
    <form on-submit="saveName">
      <span class="index secondary">{{ naturalIndex }}</span>
      <span class="name" hidden="{{ edit }}" on-tap="enableEdit">{{ item.name }}</span>
      <input hidden="{{ !edit }}" type="text" value="{{ item.name }}"
        on-blur="saveName" is="team-name-input" class="name" />
      <a href="#" on-click="deleteTeam" class="delete">delete</a>
    </form>
  </template>

  <script>
    Polymer({
      is: 'team-list-item',
      properties: {
        item: {
          type: Object,
          value: {},
          observer: '_itemObserver'
        },
        index: {
          type: Number,
          value: 0
        },
        naturalIndex: {
          type: Number,
          computed: 'getNaturalIndex(index)'
        }
      },

      ready: function () {
        this.edit = false;
      },

      _itemObserver: function () {
        this.initial = this.item.name;
      },

      getNaturalIndex: function (index) {
        return index + 1;
      },

      enableEdit: function (e) {
        this.edit = true;
        this.querySelector('input').focus();
      },

      saveName: function (e) {
        e.preventDefault();
        if (e.type != "submit") {
          this.edit = false;
          return;
        }

        var name = this.querySelector('input').value.trim();
        if (name != this.item.name) {
          var team_idx = -1;
          app.event.teams.forEach(function (obj, i) {
            if (obj.id == this.item.id)
              team_idx = i;
          }, this);

          this.set('item.name', name);
          app.event.teams[team_idx] = this.item;

          // store event
          var events = app.store.get('events');
          var event_idx = -1;
          events.forEach(function (obj, i) {
            if (obj.id == app.event.id)
              idx = i;
          });
          events.splice(idx, 1);
          events.push(app.event);
          app.store.set('events', events);

        }
        this.edit = false;
      },

      deleteTeam: function (e) {
        e.preventDefault();
        var msg = "Are you sure you want to delete '" + this.item.name + "'?";
        if (confirm(msg)) {
          var team_idx = -1;
          app.event.teams.forEach(function (obj, i) {
            if (obj.id == this.item.id)
              team_idx = i;
          }, this);
          app.event.teams.splice(team_idx, 1);

          // store event
          var events = app.store.get('events');
          var event_idx = -1;
          events.forEach(function (obj, i) {
            if (obj.id == app.event.id)
              idx = i;
          });
          events.splice(idx, 1);
          events.push(app.event);
          app.store.set('events', events);

          this.fire('delete', this.item);
        }
      }

    });
  </script>

</dom-module>
