
<link rel="import" href="../bower_components/neon-animation/neon-animated-pages.html">
<link rel="import" href="../bower_components/neon-animation/neon-animations.html">

<link rel="import" href="custom/event-detail.html">
<link rel="import" href="custom/event-list.html">
<link rel="import" href="custom/event-list-item.html">
<link rel="import" href="custom/event-points.html">
<link rel="import" href="custom/event-schedule.html">
<link rel="import" href="custom/event-table.html">
<link rel="import" href="custom/event-title.html">
<link rel="import" href="custom/event-title-input.html">
<link rel="import" href="custom/event-team-list.html">

<link rel="import" href="custom/game-list-item.html">
<link rel="import" href="custom/game-schedule-item.html">

<link rel="import" href="custom/page-header.html">

<link rel="import" href="custom/team-list-item.html">
<link rel="import" href="custom/team-name-input.html">

<link rel="import" href="animations/slide-left-and-fade-out-animation.html">
<link rel="import" href="animations/slide-right-and-fade-out-animation.html">

<!-- Configure your routes here -->
<link rel="import" href="routing.html">
