<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<script src="../bower_components/page/page.js"></script>
<script>

  window.addEventListener('WebComponentsReady', function() {

    var pages = document.querySelector('neon-animated-pages');

    // We use Page.js for routing. This is a Micro
    // client-side router inspired by the Express router
    // More info: https://visionmedia.github.io/page.js/
    page('/', function () {
      app.route = 'dashboard';
      pages.entryAnimation = 'slide-from-right-animation';
      pages.exitAnimation = 'slide-left-and-fade-out-animation';
    });

    page('events/:slug/schedule', function(ctx) {
      var event = app.store.get('events').filter(function (obj) {
        return obj.slug == ctx.params.slug;
      });
      if (event.length == 1) {
        if (event[0].status == "draft")
          page.redirect('events/' + ctx.params.slug + '/');
        else {
          app.route = 'event-schedule';
          app.event = event[0];
          pages.entryAnimation = 'slide-from-left-animation';
          pages.exitAnimation = 'slide-right-and-fade-out-animation';
        }
      } else {
        page.redirect('/');
      }
    });

    page('events/:slug', function (ctx) {
      var event = app.store.get('events').filter(function (obj) {
        return obj.slug == ctx.params.slug;
      });
      if (event.length == 1){
        if (event[0].status != "draft")
          page.redirect('events/' + ctx.params.slug + '/schedule/');
        else {
          app.route = 'event-detail';
          app.event = event[0];
          pages.entryAnimation = 'slide-from-left-animation';
          pages.exitAnimation = 'slide-right-and-fade-out-animation';
        }
      } else {
        page.redirect('/');
      }
    });

    // add #! before urls
    page({
      hashbang: true
    });

  });
</script>
