<!doctype html>
<!DOCTYPE html>
<html lang="">
<head>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="images/favicon.png" />
  <title>Tournament</title>

  <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="styles/main.css">

  <script src="bower_components/webcomponentsjs/webcomponents-lite.js"></script>

  <!-- will be replaced with elements/elements.vulcanized.html -->
  <link rel="import" href="elements/elements.html">
  <!-- endreplace-->
</head>
<body>

  <template is="dom-bind" id="app">

    <div class="header-color"></div>
    <page-header event="{{event}}"></page-header>

    <main>
      <div class="container">
        <neon-animated-pages attr-for-selected="data-route" selected="{{route}}">
          <neon-animatable data-route="dashboard">
            <section class="dashboard">
              <h2 class="">Events</h2>
              <event-list></event-list>
            </section>
          </neon-animatable>

          <neon-animatable data-route="event-detail">
            <section class="event-detail">
              <event-detail event="{{event}}"></event-detail>
            </section>
          </neon-animatable>

          <neon-animatable data-route="event-schedule">
            <section class="event-schedule">
              <event-schedule event="{{event}}"></event-schedule>
            </section>
          </neon-animatable>

        </neon-animated-pages>
      </div>
    </main>

  </template>

  <script src="bower_components/lockr/lockr.min.js"></script>
  <script src="scripts/app.js"></script>

</body>
</html>