
@media print

  body

    font-size: .8em
    background: transparent

    page-header header, .header-color
      display: none

    main
      margin-top: 0

    section

      margin-bottom: 0

      &.event-schedule

        h2, event-points > div
          padding-left: 0
          border: none

        event-team-list > div
          border: none
          page-break-inside: avoid
          margin: 0

          h3
            padding-left: 0
            border: none

          .team-item
            padding: 0
            border: none

            &.highlight
              .index, .name
                background: transparent
                color: $color-accent

        .game-list
          border: none

          h3
            padding-left: 0
            margin: 0

          game-schedule-item .game-item
            page-break-inside: avoid
            padding: .5em 0
            border: none

            .number
              margin-bottom: .5rem

            .game-wrapper

              input
                &::-webkit-input-placeholder
                  color: transparent
                &:-moz-placeholder
                  color: transparent
                &::-moz-placeholder
                  color: transparent
                &:-ms-input-placeholder
                  color: transparent

              .highlight
                .index, .team
                  background: transparent
                  color: $color-accent

    .standings
      page-break-inside: avoid
      // border-top: none
      margin-bottom: 0

      table
        th, td
          &.highlight
            background: transparent
            color: $color-font
            border-left: 1px solid $color-border-light

        tbody
          tr.highlight
            background: transparent
            color: $color-accent
            td.highlight
              color: $color-accent
