
@import normalize

@import colors
@import print


a
  color: $color-accent
  text-decoration: none
  outline: none
  &:active, &:focus, &:hover
    text-decoration: underline


input
  padding: 1em
  border: 1px solid $color-border-light
  outline: none
  color: $color-font-secondary

  &:active, &:focus
    border-color: $color-accent


button
  border: 1px solid $color-border-light
  background: $color-white
  padding: 1em
  color: $color-accent
  outline: none
  &:active, &:focus, &:hover
    background: $color-accent
    color: $color-white


.secondary
  color: $color-font-secondary


.empty
  background-color: $color-section-bg
  padding: 1em
  margin: 0
  border: 1px solid $color-border-light
  border-top: none
  border-bottom: none


.container
  max-width: 960px
  margin: 0 auto


body
  font-family: 'Lato', serif
  color: $color-font
  background: $color-body-bg

  &.scrolled

    page-header header

      .headlines

        h2
          padding-top: .5em

        h3
          opacity: 1


.header-color
  position: fixed
  background-color: $color-accent
  height: 7em
  top: 0
  z-index: 1
  width: 100%


page-header header
  position: fixed
  top: 0
  // left: 1em
  z-index: 2

  .headlines
    padding: 1em
    height: 5em
    position: relative

    h2
      opacity: 0
      margin: 0
      padding-top: 2em
      transition-property: padding-top
      transition-duration: .2s
      z-index: 3

      &.show
        opacity: 1

      a
        // font-size: 1.75em
        text-decoration: none
        color: $color-white
        width: 100%
        display: inline-block
        &:active, &:focus, &:hover
          text-decoration: none

    h3
      opacity: 0
      color: $color-white
      margin-top: 1rem
      display: inline-block
      transition-property: opacity
      transition-duration: .2s

      span
        margin-right: 2rem

      .info
        display: inline-block
        font-weight: normal
        font-size: .8em


main
  margin-top: 8rem


section

  // background-color: $color-section-bg
  // border: 1px solid $color-border-light
  margin-bottom: 1rem

  h2
    background-color: $color-section-bg
    padding: 16px
    margin: 0
    border: 1px solid $color-border-light
    border-bottom: none

  &.dashboard

    ul
      list-style: none
      padding: 0
      margin: 0
      background-color: $color-section-bg

      li
        // font-size: 1.5em
        padding: 1em
        border: 1px solid $color-border-light
        border-bottom: none

        &:active, &:focus, &:hover
          border-left-color: $color-accent
          .actions
            display: block

        .actions
          display: none
          float: right
          text-transform: uppercase
          font-size: .8em
          a
            margin: 0 .5rem

        .link
          font-size: 1.25em

        .stats
          // font-size: .6em
          display: inline-block
          width: 100%
          padding: .5em 0

    form
      border: 1px solid $color-border-light
      background-color: $color-section-bg
      margin: 0
      padding: 2em 1em
      display: flex

      input
        max-width: 300px
        flex-grow: 1

      button
        margin-left: 1rem

  &.event-detail

    h2
      input
        padding: 0
        border: none

    .team-list
      margin-top: 1rem

      h3
        background-color: $color-section-bg
        border: 1px solid $color-border-light
        border-top: none
        border-bottom: none
        margin: 0
        padding: 1em 16px

      form
        background-color: $color-section-bg
        border: 1px solid $color-border-light
        border-bottom: none
        padding: 2em 1em

        &.team-list-item
          padding: 1em

          &:active, &:focus, &:hover
            border-left-color: $color-accent

            .delete
              display: inline-block

          .index
            margin-right: 1rem

          input
            padding: 0
            border: none

          a.delete
            float:  right
            display: none
            text-transform: uppercase
            font-size: .8em
            line-height: 2em

        &.team-add
          display: flex
          border-bottom: 1px solid $color-border-light

          input
            max-width: 300px
            flex-grow: 1

          button
            margin-left: 1rem

    .game-list

      margin-top: 1rem
      background-color: $color-section-bg
      padding: 1em
      border: 1px solid $color-border-light

      button
        margin-top: 1rem

      ol
        margin: 2rem 0

        li
          margin: 1rem 0

          .team
            width: 180px
            display: inline-block

          .versus
            padding: 0 1em

  &.event-schedule

    h2
      input
        padding: 0
        border: none

    event-team-list
      > div
        margin-top: 1rem
        background-color: $color-section-bg
        border-bottom: 1px solid $color-border-light

      h3
        padding: 1em 16px
        margin: 0
        border: 1px solid $color-border-light
        border-bottom: none

      .team-item
        padding: 1em
        border: 1px solid $color-border-light
        border-bottom: none
        cursor: default

        &:hover, &.highlight
          border-left-color: $color-accent

        &.highlight
          background-color: $color-accent
          color: $color-white

          .secondary
            color: $color-white

        .index
          margin-right: 1rem

    .game-list
      margin-top: 1rem
      border: 1px solid $color-border-light
      background-color: $color-section-bg

      h3
        padding: 1em 16px
        margin: 0

      game-schedule-item

        .game-item
          padding: 1em 0
          width: 100%
          border-top: 1px solid $color-border-light

          span
            display: inline-block

          .number
            text-align: center
            margin-bottom: 1rem

          .game-wrapper
            display: flex
            justify-content: center
            align-items: center

            .versus
              // text-align: center
              padding: 0 1em

            .home, .away
              display: flex
              align-items: center
              width: 50%
              flex-grow: 1

              .index
                padding: .5em
                cursor: default

            .home
              justify-content: flex-end

              .team
                margin-right: 1rem

            .away
              justify-content: flex-start

              .team
                margin-left: 1rem
                text-align: left

            .team
              display: inline-block
              padding: .5em
              cursor: default

            .highlight
              .team, .index
                background-color: $color-accent
                color: $color-white

            input
              padding: .5em
              width: 2em
              text-align: center
              color: $color-font

              -moz-appearance: textfield

              &::-webkit-inner-spin-button,
              &::-webkit-outer-spin-button,
                -webkit-appearance: none
                margin: 0


event-points

  > div
    background-color: $color-section-bg
    border: 1px solid $color-border-light
    padding: 0 1em

  h3
    display: inline-block
    margin-right: 5rem

  .points
    padding: 0 2em

    .label
      display: inline-block
      margin-right: 1rem

    input
      border: none
      padding: 0
      width: 3em


.standings

  margin-top: 1rem
  background-color: $color-section-bg
  border: 1px solid $color-border-light

  h3
    padding: 1em 16px
    margin: 0

  table
    width: 100%
    border-top: 1px solid $color-border-light

    thead
      border-bottom: 1px solid $color-border-light

    tbody
      tr
        &:hover, &.highlight
          background: $color-accent
          color: $color-white

    th, td
      padding: 1em
      text-align: center
      cursor: default

      &.name
        text-align: left

      &.highlight
        background: $color-accent
        color: $color-white



// responsive

@media screen and (max-width: 1000px)

  .container
    padding: 0 1em


@media screen and (max-width: 768px)

  section

    &.event-schedule

      .game-list
        game-schedule-item
          .game-item
            .game-wrapper

              .home, .away
                flex-direction: column

                &.highlight .index
                  background-color: transparent
                  color: $color-font-secondary

                .team
                  padding: .5em
                  margin: .5rem 0
                  text-align: center

                .index
                  padding: 0

              .away
                .index
                  order: 1
                .team
                  order: 2
                input
                  order: 3

  event-table
    .games-played, .goals-for, .goals-against
      display: none


@media screen and (max-width: 550px)

  section

    &.event-detail .team-list form.team-add,
    &.dashboard form.event-list
      flex-direction: column
      align-items: center

      input
        margin-bottom: 1rem
        max-width: none
        width: 90%

      button
        margin-left: 0

    &.event-detail .game-list
      ol
        li
          margin: 2rem 0

          .team
            width: 100%

          .versus
            padding: 0


  event-points

    h3
      display: block

    .points
      display: inline-block
      padding: 1em 2em
      &.win
        padding-left: 0


  event-table
    .wins, .draws, .losses, .goals-for, .goals-against
      display: none

    .games-played
      display: table-cell


@media screen and (max-width: 400px)

  event-points .points
    width: 100%
    padding: 1em 0
